.container{
    height: 100vh;
    width: 100vw;
    background-image: url("image.jpg");
    display: grid;
    place-content:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    user-select: none;
}
.titulo{

    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    padding: 2% 6%;
    font-size: 90px;
    display: inline-block;
     width: 100%;
     height: 40px; 
}